spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

spring.datasource.url=jdbc:mysql://${MYSQL_HOST:localhost}:3306/removebgdb
spring.datasource.username=root
spring.datasource.password=YOUR_MYSQL_PASSWORD

clerk.issuer=https://YOUR-CLERK-INSTANCE.clerk.accounts.dev
clerk.jwks-url=https://YOUR-CLERK-INSTANCE.clerk.accounts.dev/.well-known/jwks.json
clerk.webhook.secret=YOUR_CLERK_WEBHOOK_SECRET

spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

clipdrop.apikey=YOUR_CLIPDROP_API_KEY

# Razorpay configuration
razorpay.key_id=YOUR_RAZORPAY_KEY_ID
razorpay.key_secret=YOUR_RAZORPAY_KEY_SECRET
